/* ---------------
    Fonts styles
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Roboto&display=swap');

/*-----------
 css styles
-------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -----------------
   Main styles
 ------------- */

.top-banner {
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
    transition: width 1s;

}

.top-banner:hover {
    width: 85%;

}

.top-banner {
    display: flex;
    background-color: #161616;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 78px;
    padding-left: 109px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.banner-info {
    width: 531px;
    height: 424px;
}

.banner-info h1 {
    font-size: 70PX;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-title {
    transition: width 1s, transform 5s;
}

.banner-title:hover {
    color: aqua;
    transform: rotate(180deg);
}

.banner-info p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin-bottom: 40px;
}

.banner-info a {
    color: #FFFFFF;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    text-decoration: none;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* ---------------
 middle banner styles
-------------------- */
.middle-banner {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
}

/*------------
 Side blog styles
--------------- */

.side-blogs {
    width: 100%;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    padding: 25px 28px;
    margin: 0;

}

.bac-white {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 39px;
    margin: 30px 0;
    text-align: center;
}

.bac-red {
    background-color: #DD0000;
    border-radius: 10px;
    padding: 17px 39px;
    text-align: center;
}

/*--------------
 Blogs styles
---------------- */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 2%;
}

.blog {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 24px;
}

.blog-img {
    margin-bottom: 20px;
}

.blog-detail {
    padding: 15px;
}

.blog a {
    color: #161616;
    text-decoration: none;
    border: 1px solid #161616;
    padding: 4px 17px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
}

.blog p {
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin-top: 15px;
}

.blog-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.button {
    visibility: hidden;
}

/*----------
  Footer styles
---------------- */

.footer {
    background-color: #161616;
    width: 100%;
    height: 444px;

}

.footer h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin-top: 130px;


}

.footer hr {
    color: rgba(255, 255, 255, 0.1);
    margin: 50px 140px;

}

.footer-span {
    color: #B9B9B9;
    text-align: center;
    font-weight: 500;
    font-size: 16px;

}

.footer span {
    padding: 0 15px;
}

.social-icon {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icon a {
    margin: 0 15px;
}

/*--------------- 
    Media queries 
-------------------------*/
/*----------------
 Mobiled device
------------------ */
@media only screen and (max-width:688px) {

    /* ----------------
    Top banner responsive
    ---------------------- */
    .container {
        width: 100%;
    }

    .top-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 334px;
        height: 412px;
        margin: 0 auto;
        padding: 0;
        border-radius: 10px;
    }

    .banner-info {
        width: 258px;
        height: 178px;
        margin: 0;
    }

    .banner-img {
        width: 50%;
    }

    .banner-info h1 {
        font-size: 22px;
        margin-top: 28px;
    }

    .banner-info p {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* -----------------
    Middle banner responsive 
    --------------------*/

    .middle-banner {
        display: flex;
        flex-direction: column;
        margin-top: 0;

    }

    .side-blogs {
        width: 210px;
        height: 176px;
        margin-left: 21px;
        margin-bottom: 20px;
        background-color: #FFFFFF;

    }

    .bac-white {
        border: 2px solid lightgray;
        width: 210px;
        height: 48px;
        margin: 25px 0px;
        padding: 9px 18px;

    }

    .bac-red {
        width: 210px;
        height: 48px;

    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 60px;
    }

    .footer {
        height: 412px;
    }

    .footer h1 {
        margin-top: 24px;
    }

    .footer hr {
        width: 90%;
        margin-left: 20px;
    }

    .footer-span {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-top: 24px;
    }

    .button-div {
        display: none;
    }
}

/*-------------
   Tablet device
------------------ */
@media only screen and (min-width:688px)and (max-width:992px) {

    .container {
        width: 100%;
    }

    /* -------------------
    top banner responsive
    --------------------- */

    .top-banner {
        width: 734px;
        height: 398px;
        margin-left: 50px;
        margin-bottom: 50px;
        padding-left: 50px;
    }

    .banner-info h1 {
        font-size: 50px;
    }


    /* -----------------
 Middle banner responsive
----------------------- */
    .middle-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;

    }

    .side-blogs {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 7px 28px;

    }

    .bac-white {
        width: 230px;
        height: 64px;
        border: 2px solid lightgray;
    }

    .bac-red {
        width: 230px;
        height: 64px;
        margin-top: 30px;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-hidden {
        display: none;
    }

    .button-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .button {
        visibility: visible;
        background-color: #DD0000;
        color: #FFFFFF;
        width: 131px;
        height: 47px;
        text-align: center;
        border: none;
        border-radius: 5px;
    }

    .footer-span {
        display: flex;
        justify-content: space-evenly;
    }

}