/* ---------------
    Fonts styles
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* -----------------
   Main styles
 ------------- */

.top-container {
    width: 90%;
}

.top-banner {
    display: flex;
    background-color: #161616;
    margin-top: 50px;
    margin-bottom: 135px;
    padding-top: 78px;
    padding-left: 109px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.banner-title {
    width: 531px;
    height: 424px;
}

.banner-title h1 {
    font-size: 70PX;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-title p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin-bottom: 40px;
}

.banner-title a {
    color: #FFFFFF;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    text-decoration: none;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 80%;
}

/* ---------------
 middle banner styles
-------------------- */
.middle-container {
    width: 100%;
}

.middle-banner {
    display: flex;
    width: 50%;
    margin-left: 50px;
    margin-bottom: 100px;
}

.side-blogs {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding: 25px 28px;
    margin-right: 22px;

}

.bac-white {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 17px 39px;
    margin: 30px 0;
    text-align: center;
}

.bac-red {
    background-color: #DD0000;
    border-radius: 10px;
    padding: 17px 39px;
    margin: 30px 0;
    text-align: center;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    width: 1312px 1134px;
}

.blog {
    /* border: 2px solid lightslategray; */
    /* width: 312px;
    height: 362px; */
    border-radius: 5px;
    margin-bottom: 24px;
}

.blog-img {
    width: 312px;
    height: 175px;
    margin-bottom: 20px;
}

.blog a {
    color: #161616;
    text-decoration: none;
    border: 1px solid #161616;
    margin-left: 20px;
    padding: 4px 17px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
}

.blog p {
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin: 15px 20px 20px 20px;


}

.footer {
    background-color: #161616;
    width: 100%;
    height: 444px;

}

.footer h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin-top: 130px;


}

.footer hr {
    color: rgba(255, 255, 255, 0.1);
    margin: 50px 140px;

}

.footer-span {
    color: #B9B9B9;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.social-icon {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icon a {
    margin: 0 15px;
}